@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Baloo+2:wght@400;500;600;700;800&display=swap");
body {
  background-color: #1b2837;
  font-family: 'Baloo 2', sans-serif;
  height: 100vh;
  width: 100vw;
  /* z-index: ; */
}

.none {
  display: none !important;
}

button {
  background-color: #00AE06;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 12px 26px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  font-weight: bold;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.header .title {
  margin-top: 3rem;
  font-weight: 550;
  color: #FF0000;
  font-size: 4rem;
}

.header .title .title-span {
  color: #E6FF00;
}

.header .form {
  display: flex;
  flex-direction: row;
  margin: 2rem 0 2rem 0;
}

.header .form .input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

.header .form input[type=text]:focus {
  border: 3px solid #555;
}

.header .form .button-create {
  background-color: #32a4e7;
}

.header .rooms-card .h2 {
  font-size: 2rem;
  font-weight: bolder;
  margin: 1rem;
  color: white;
}

.header .rooms-card .roomlist {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.header .rooms-card .roomlist .room {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 10rem;
  width: 8rem;
  background-color: white;
  border: 2.5px solid #555;
  border-radius: 4px;
  margin: .7rem;
  padding: 0.3rem;
}

.header .rooms-card .roomlist .room .title-room {
  margin: 1rem;
  font-size: 2rem;
  font-weight: 600;
}

.header .rooms-card .roomlist .room .p-room {
  text-align: center;
  font-weight: bolder;
  font-style: oblique;
}

.game-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

.game-section .info {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: row;
}

.game-section .info .player1 {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  margin: 1rem;
}

.game-section .info .player1 .name {
  font-size: 2rem;
  color: white;
}

.game-section .info .player2 {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  margin: 1rem;
}

.game-section .info .player2 .name {
  font-size: 2rem;
  color: white;
}

.game-section .game {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  background-color: #2c3e50;
  border-radius: 10px;
}

.game-section .game .column {
  height: auto;
  width: auto;
  /* background-color: blue; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.game-section .game .column:hover {
  background-color: #385068;
}

.game-section .game .column .cell {
  height: 4rem;
  width: 4rem;
  margin: .7rem;
  background-color: #1b2837;
  border-radius: 50%;
}

.game-section .game .column .danger {
  background-color: red;
}

.game-section .game .column .team {
  background-color: #E6FF00;
}

.game-section .victory {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.game-section .victory .h2 {
  margin: 1.5rem;
  font-size: 2.5rem;
  color: white;
  font-weight: bolder;
}

.game-section .victory .waitingPlayer {
  display: flex;
  align-items: center;
}

.lds-hourglass {
  display: inline-block;
  position: relative;
  width: 60px;
  height: 60px;
}

.lds-hourglass:after {
  content: " ";
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  margin: 7px;
  box-sizing: border-box;
  border: 26px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-hourglass 1.2s infinite;
}

@keyframes lds-hourglass {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(1800deg);
  }
  /* transition: background-color 3s ease; */
}

/*# sourceMappingURL=styles.css.map */